<div class="card-group">
    <div class="card">
      <img src="assets/images/nonveg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NON-VEG RECIPIES</h5>
        <p class="card-text">FOR MORE NON-VEG RECIPES YOU CAN VISIT BELOW LINKS</p>
        <p class="card-text"><small class="text-muted">THANK YOU</small></p>
        <a href="https://www.indianhealthyrecipes.com/recipes/non-veg/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">click here</a>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/veg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">VEG RECIPES</h5>
        <p class="card-text">FOR MORE VEG RECIPES YOU CAN VISIT BELOW LINKS</p>
        <p class="card-text"><small class="text-muted"></small>THANK YOU</p>
        <a href="https://www.womansday.com/food-recipes/food-drinks/g2373/vegetarian-recipes/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">click here</a>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/snaks.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SNACKS RECPIES</h5>
        <p class="card-text">FOR MORE SNACK RECIPES YOU CAN VISIT BELOW LINKS</p>
        <p class="card-text"><small class="text-muted"></small>THANK YOU</p>
        <a href="https://www.indianhealthyrecipes.com/recipes/snacks/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">click here</a>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer" style="background-color: khaki;"> 
    <div class="container">
    
        <p>Copyright &copy; Recipes System. All Rights Reserved. | Contact Us: +91 8520076176</p>
        <p>This website is developed by  Meghana Nuvusetty & Kalisetty Vani Pramadwara</p>
    
    </div>
  </footer>