<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Image and text -->


<div class="jumbotron jumbotron-fluid" style="background-color: beige; width: 10; margin-top: 0; height: 100;">
  <div class="container " style="margin: 10;" >
    <h4> <span class="badge-pill badge-primary">a recipe is a good story that ends with a good meal</span></h4>
    <img src="assets/images/new.png" width="1070" height="540"  >
    
      

  
  </div>
  </div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="assets/images/rat..jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ratatouille</h5>
        <p class="card-text"> INGREDIENTS:<br>
          VEGGIES

          2 eggplants
          6 roma tomatoes
          2 yellow squashes
          2 zucchinis
          SAUCE
          
          2 tablespoons olive oil
          1 onion, diced
          4 cloves garlic, minced
          1 red bell pepper, diced
          1 yellow bell pepper, diced
          salt, to taste
          pepper, to taste
          28 oz can of crushed tomatoes (795 g)
          2 tablespoons chopped fresh basil, from 8-10 leaves
          HERB SEASONING
          
          2 tablespoons chopped fresh basil, from 8-10 leaves
          1 teaspoon garlic, minced
          2 tablespoons Chopped fresh parsley
          2 teaspoons fresh thyme
          salt, to taste
          pepper, to taste
          4 tablespoons olive oil
          </p>
        <p class="card-text"><small class="text-muted">Preheat the oven for 375˚F (190˚C).
          Slice the eggplant, tomatoes, squash, and zucchini into approximately ¹⁄₁₆-inch (1-mm) rounds, then set aside.
          Make the sauce: Heat the olive oil in a 12-inch (30-cm) oven-safe pan over medium-high heat. Sauté the onion, garlic, and bell peppers until soft, about 10 minutes. Season with salt and pepper, then add the crushed tomatoes. Stir until the ingredients are fully incorporated. Remove from heat, then add the basil. Stir once more, then smooth the surface of the sauce with a spatula.
          Arrange the sliced veggies in alternating patterns, (for example, eggplant, tomato, squash, zucchini) on top of the sauce from the outer edge to the middle of the pan. Season with salt and pepper.</small></p>
          <a href="https://tasty.co/recipe/ratatouille" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">for more</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="assets/images/Chicken-Biryani.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Chicken Biryani</h5>
        <p class="card-text">INGREDIENTS : <br> 600 gm basmati rice
          4 tablespoon mint leaves
          salt as required
          2 teaspoon coriander powder
          1 tablespoon garlic paste
          2 tablespoon tomato puree
          400 gm white onion
          8 green cardamom
          1 tablespoon milk
          1 kilograms chicken thighs
          1 teaspoon garam masala powder
          2 pinches saffron
          1 tablespoon ginger paste
          4 green chilli
          300 gm tomato
          2 teaspoon cumin seeds
          6 tablespoon refined oil
          </p>
        <p class="card-text"><small class="text-muted">To prepare this mouth-watering biryani recipe, you have to marinate the chicken. For the same, take a large bowl and add Greek yoghurt in it along with turmeric, chili powder along with salt as per your taste in a small bowl. Mix well using a spoon and then, add the chicken thighs in the mixture and rub with this mixture. Keep aside for about 20-30 minutes, so that the yogurt mixture is properly absorbed by the chicken. Also, soak saffron in the milk to make saffron milk and keep aside.
          n the meanwhile, pour refined oil in a deep-bottomed pan, keeping it on medium flame. Add cumin seeds and green cardamom in it and saute for about 2 minutes. Once done, immediately add the sliced onion and fry for 2-3 minutes straight. Make sure you don't burn it, so when the onion starts to get brown in color, add tomatoes and tomato puree and fry for another 5 minutes.

        </small></p>
        <a href="https://recipes.timesofindia.com/recipes/chicken-biryani/rs53096628.cms" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">for more</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="assets/images/egg-curry.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Egg Curry</h5>
        <p class="card-text"> INGREDIENTS :<br>6 boiled egg
          2 onion
          1 inch ginger
          3/4 teaspoon red chilli powder
          1 teaspoon tamarind paste
          1/4 cup refined oil
          1 teaspoon black mustard seeds
          2 pinches salt
          4 chopped tomato
          4 green chilli
          3/4 teaspoon powdered turmeric
          1 1/2 teaspoon coriander powder
          1 handful curry leaves
          1 cinnamon stick
          100 ml coconut milk
          </p>
        <p class="card-text"><small class="text-muted">To prepare this mouth-watering Spicy Egg Curry, heat oil in a heavy-bottomed pan over medium flame. Add the mustard seeds and fry them for few seconds. Once they start to splutter, add the onions and saute until they turn slightly pinkish in hue. Now add the cinnamon and chopped green chillies. Fry for a minute or two. Add the chopped tomatoes and cook for 10 minutes.Add the ginger, turmeric powder, red chilli powder, coriander powder and stir-fry for a minute. Cook these spices until the oil starts to separate. Add the tamarind paste and 1 cup of water. Simmer for a minute or two.</small></p>
        <a href="https://recipes.timesofindia.com/recipes/spicy-egg-curry/rs53993049.cms" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">for more</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="assets/images/gobi.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Gobi Munchurian</h5>
        <p class="card-text">INGREDIENTS: <br>
          For Florets
          1/2 cup Corn Flour
          5 tablespoons Maida (all purpose flour)
          1 medium size Cauliflower (Phool Gobi), broken into medium size florets
          1/2 teaspoon Garlic Paste
          1/2 teaspoon Ginger Paste
          Oil, for deep frying
          Salt
          1/2 cup Water
          For Sauté
          1½ teaspoons Garlic Paste
          2 teaspoons Ginger Paste
          2 Green Chillies, finely chopped
          1 large Onion, finely chopped
          1 small Green Capsicum, finely chopped
          1½ tablespoons Soy Sauce
          1/2 tablespoon Chilli Sauce
          2 tablespoons Tomato Ketchup/ Tomato Sauce
          2 tablespoons Cooking Oil
          2 tablespoons Spring Onion, finely chopped
          Salt</p>
        <p class="card-text"><small class="text-muted">Boil cauliflower florets in salted water over medium flame for 3-4 minutes. After boiling, drain excess water and pat dry florets on tissue paper.Mix maida, corn flour, 1/2 teaspoon ginger paste, 1/2 teaspoon garlic paste and salt in a bowl. Add water (approx. 1/2 cup) little by little and stir to make a batter. Make sure that batter is not too thick or not too thin. Its thickness should be similar to thickness of dosa batter. Add all florets in batter and mix well. For perfect manchurian,</small></p>
        <a href="https://foodviva.com/chinese-recipes/gobi-manchurian-recipe/" class="btn btn-info btn-lg active" role="button" aria-pressed="true">for more</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="assets/images/samosa.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Samosa</h5>
        <p class="card-text">INGREDIENTS: <br>4 cup all purpose flour
          1 teaspoon garam masala powder
          2 teaspoon carom seeds
          salt as required
          2 cup peas
          2 inch ginger
          2 teaspoon cumin seeds
          black pepper as required
          1 cup chopped coriander leaves
          2 cup refined oil
          2 teaspoon coriander powder
          4 cup all purpose flour
          4 tablespoon ghee
          4 boiled potato
          2 green chilli
          5 cloves garlic
          2 teaspoon red chilli powder
          2 teaspoon dry mango powder
          1 teaspoon turmeric
        </p>
        <p class="card-text"><small class="text-muted">To begin with, in order to prepare the stuffing for samosa, place a pan on medium flame and pour oil. Once heated, put cumin seeds and once the seeds s
          tart changing colour, immediately add garlic, ginger and green chili paste and salt according to your taste.Then, combine dry mango powder, coriander powder, coriander leaves, garam masala along with turmeric and red chili powder. Keep stirring the mixture the whole while. Next, add boiled potato and stir yet again. With the help of the back of a spoon, mash the entire mixture altogether.Now to prepare the dough, take a large bowl and combine all-purpose flour along with cumin seeds, salt and black pepper according to your taste.

        </small></p>
        <a href="https://recipes.timesofindia.com/recipes/samosa/rs61050397.cms" class="btn btn-success btn-lg active" role="button" aria-pressed="true">for more</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="assets/images/spring_rolls.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Spring Rolls</h5>
        <p class="card-text">INGREDIENTS: <br>10-12 Spring Roll Wrappers
          4-5 Spring Onions, finely chopped
          3/4 Cup Cabbage, grated
          1/2 Cup Carrots Carrots, grated
          1/2 Cup Beans, thinly sliced
          1/2 Cup Capsicum, thinly sliced
          3-4 Cloves of Garlic, minced
          ~1 Inch Piece of Ginger, grated
          2 Teaspoons Soy Sauce
          2 Teaspoons Chilli Vinegar
          1 Teaspoon Black Pepper Powder
          1 Teaspoon Salt, as per taste
          2 Tablespoon Plain Flour / All Purpose Flour
          Oil for Frying</p>
        <p class="card-text"><small class="text-muted">Wash and rinse all the vegetables. Shred the cabbage and carrots. Thinly slice the beans and capsicum.Heat 2 tablespoons oil in a pan. Add finely chopped spring onions whites.

          Add ginger-garlic paste and stir for a couple of minutes till they start to brown slightly.Add all the vegetables to the pan. Stir fry the vegetables on high flame for 3-4 minutes. Do not overcook them so that they retain a slight crunch.

        </small></p>
        <a href="https://vegecravings.com/veg-spring-rolls-recipe/" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">for more</a>
      </div>
    </div>
  </div>
</div>

<img src="assets/images/baby.jpg" class="rounded mx-auto d-block" alt="..." width="500"> <p style="text-align: center;" >you can visit <b>formore</b> &nbsp;link!!</p> 
<footer class="footer" style="background-color: khaki;"> 
    <div class="container">
    
        <p>Copyright &copy; Recipes System. All Rights Reserved. | Contact Us: +91 8520076176</p>
        <p>This website is developed by  Meghana Nuvusetty & Kalisetty Vani Pramadwara</p>
    
    </div>
  </footer>
</body>
</html>

